header{
    background-color: lightblue;
    text-align: center;
}

label{
    font-size: larger;
    line-height: 30px;
    text-align: center;
    
}

body{
    font-size: medium;
    text-align: center;
}

p{
    font-size: large;
    line-height: 30px;
    text-align: center;
}

button{
    font-size: large;
    background-color: lightyellow;
    text-align: center;
}

img{
    width: 12pc;
    height: 12pc;
    border-width: 35px;
}